build/
target/
*.swp
.idea/
.DS_Store
*.iml
.classpath
.settings/
.project
WebContent/
flaws.json
.vscode/settings.json
results.json
srcclr.yml
devops-scanner-java.jar
devops-scanner-java-LATEST.zip
agent_scan.sh
